    #board {
        position: absolute;
        top: 0;
        left: 0;

        opacity: 0.9;
    }
    .button {
        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        top: 550px;

        background-color: #19325f;
        opacity: 0.85;
        width: 200px;
        height: 45px;
        border-radius: 5px;
        text-decoration: none;
        cursor: pointer;
    }
    .button:hover {
        opacity: 0.7;
    }
    button {
        background-color: transparent;
        color: #fff;
        font-size: 20px;
        border: none;
        outline: none; 
        cursor: pointer;
    }
